<<<<<<< HEAD
body {
    background-color: lightgrey;
    color: blue;
  }
  
  h1 {
    background-color: black;
    color: white;
  }
  
  div {
    background-color: blue;
    color: white;
  }
  
  h4 {
    background color: red;
    color: white;
     } 
=======
>>>>>>> f700467a5f6f1b74da4af50a65134a030cf8ffc7
