body {
    background-color: rgb(47, 235, 0);
    color: rgb(255, 255, 255);
  }
  
  h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h4 {
    color: white;
     } 

